<div class="layout">
  <div class="draw">
    <canvas class="canvas" [width]="canvasWidth" [height]="canvasHeight" #canvas></canvas>
  </div>
  <div class="settings">
    <span class="input-settings">Tile size: <input class="axis" value="10" (blur)="setGrid(canvas, tileSize.value)" #tileSize></span>
    <span class="input-settings">X1: <input class="axis" #x1Coord> &nbsp;&nbsp;&nbsp;Y1: <input class="axis" #y1Coord></span>
    <span class="input-settings">X2: <input class="axis" #x2Coord> &nbsp;&nbsp;&nbsp;Y2: <input class="axis" #y2Coord></span>
    <button class="menu-btn" (click)="setLine(canvas, x1Coord.value, y1Coord.value, x2Coord.value, y2Coord.value, tileSize.value)">Draw Line</button>
  </div>
</div>
